# ==============================================
# MTK Policy Rule
# ============

# Date : WK14.32
# Operation : AEE UT
# Purpose : for AEE module
allow debuggerd aed_device:chr_file rw_file_perms;
allow debuggerd expdb_device:chr_file rw_file_perms;
allow debuggerd expdb_block_device:blk_file rw_file_perms;
allow debuggerd mmcblk0_block_device:blk_file rw_file_perms;
allow debuggerd ccci_device:chr_file r_file_perms;
allow debuggerd etb_device:chr_file rw_file_perms;
allow debuggerd graphics_device:dir search;
allow debuggerd graphics_device:chr_file r_file_perms;
allow debuggerd Vcodec_device:chr_file r_file_perms;
allow debuggerd camera_isp_device:chr_file r_file_perms;

# AED start: /dev/block/expdb
allow debuggerd block_device:dir search;

# debuggerd open/dev/mtd/mtd12 failed(expdb)
allow debuggerd mtd_device:dir create_dir_perms;
allow debuggerd mtd_device:chr_file rw_file_perms;

allow debuggerd userdata_block_device:blk_file create_file_perms;
# NE flow: /dev/RT_Monitor
allow debuggerd RT_Monitor_device:chr_file r_file_perms;

# /dev/_GPU_  dev/pvrsrvkm
allow debuggerd gpu_device:chr_file rw_file_perms;

# /dev/exm0
allow debuggerd exm0_device:chr_file r_file_perms;

allow debuggerd shell_exec:file x_file_perms;
allow debuggerd dex2oat_exec:file x_file_perms;

# aee db dir and db files
allow debuggerd sdcard_type:dir create_dir_perms;
allow debuggerd sdcard_type:file create_file_perms;


#data/anr
allow debuggerd anr_data_file:dir create_dir_perms;
allow debuggerd anr_data_file:file create_file_perms;

#data/aee_exp
allow debuggerd aee_exp_data_file:dir { relabelto create_dir_perms };
allow debuggerd aee_exp_data_file:file create_file_perms;

#data/dumpsys
allow debuggerd aee_dumpsys_data_file:dir { relabelto create_dir_perms };
allow debuggerd aee_dumpsys_data_file:file create_file_perms;

#/data/core
allow debuggerd aee_core_data_file:dir create_dir_perms;
allow debuggerd aee_core_data_file:file create_file_perms;

# /data/data_tmpfs_log
allow debuggerd data_tmpfs_log_file:dir create_dir_perms;
allow debuggerd data_tmpfs_log_file:file create_file_perms;

#/data/anr/SF_RTT
allow debuggerd sf_rtt_file:dir search;
allow debuggerd sf_rtt_file:file r_file_perms;

allow debuggerd sysfs:file write;
allow debuggerd proc:file write;
allow debuggerd sysfs_lowmemorykiller:file r_file_perms;
#allow debuggerd debugfs:file read;

allow debuggerd self:capability { fsetid sys_nice sys_resource net_admin sys_module };

allow debuggerd domain:process { sigkill getattr getsched};
allow debuggerd domain:lnk_file getattr;

#core-pattern
allow debuggerd usermodehelper:file r_file_perms;

#suid_dumpable
allow debuggerd proc_security:file r_file_perms;

#dmesg
allow debuggerd kernel:system syslog_read;

#property
allow debuggerd init:unix_stream_socket connectto;
allow debuggerd property_socket:sock_file write;

# dumpstate ION_MM_HEAP
allow debuggerd debugfs:lnk_file read;

#com.android.settings NE
allow debuggerd system_app_data_file:dir search;

# sogou NE
allow debuggerd app_data_file:dir search;

# open and read /data/data/com.android.settings/databases/search_index.db-journal
allow debuggerd system_app_data_file:file r_file_perms;
allow debuggerd app_data_file:file r_file_perms;

#allow debuggerd call binaries labeled "system_file" under /system/bin/
allow debuggerd system_file:file execute_no_trans;

#/proc/driver/storage_logger
allow debuggerd proc_slogger:file rw_file_perms;

binder_use(debuggerd)
allow debuggerd system_server:binder call;
allow debuggerd surfaceflinger:binder call;
allow debuggerd surfaceflinger:fd use;
allow debuggerd platform_app:fd use;
allow debuggerd platform_app_tmpfs:file write;

# aed and MTKLogger.apk socket connect
allow debuggerd platform_app:unix_stream_socket connectto;

allow debuggerd self:udp_socket { create ioctl };

allow debuggerd init:process getsched;
allow debuggerd kernel:process getsched;

# for SF_dump
allow debuggerd sf_bqdump_data_file:dir rw_dir_perms;
allow debuggerd sf_bqdump_data_file:file { r_file_perms unlink };


allow debuggerd custom_file:dir search;

#add debuggerd policy
allow debuggerd mnt_user_file:dir search;
allow debuggerd mnt_user_file:lnk_file read;
#allow debuggerd procrank_exec:file x_file_perms;
allow debuggerd storage_file:dir search;
allow debuggerd storage_file:lnk_file read;

# Date : WK15.30
# Operation : Migration
# Purpose : for device bring up, not to block early migration/sanity
allow debuggerd log_device:chr_file read;

# Date: W15.34
# Operation: Migration
# Purpose: For pagemap & pageflags information in NE DB
userdebug_or_eng(`allow debuggerd self:capability sys_admin;')

# Date: W15.35
# Operation: Android M Daily Sanity
# Purpose: Add rules for Violation
allow debuggerd activity_service:service_manager find;
allow debuggerd dbinfo_service:service_manager find;
allow debuggerd meminfo_service:service_manager find;
allow debuggerd self:capability sys_admin;
allow debuggerd surfaceflinger_service:service_manager find;
allow debuggerd window_service:service_manager find;

# Date: W15.37
# Operation: daily build violation on branch trunk-m0.tk
# Purpose: Add rules for Violation
allow debuggerd proc_lk_env:file rw_file_perms;

# Date: W15.39
# Operation: daily build violation on branch trunk-m0.tk
# Purpose: Allow debuggerd to find gfxinfo_service
allow debuggerd gfxinfo_service:service_manager find;

#scp file dumpstate
allow debuggerd sysfs_scp:dir search;
allow debuggerd sysfs_scp:file r_file_perms;

# Date: W15.53
# Operation: add DUMPSYS_DISPLAY to db
# Purpose: Allow debuggerd to find gfxinfo_service
allow debuggerd display_service:service_manager find;

# Date: W16.17
# Operation: N0 Migeration
# Purpose: access /dev/block/mmcblk0p6
allow debuggerd para_block_device:blk_file rw_file_perms;
# Purpose: creat dir "aee_exp" under /data
allow debuggerd system_data_file:dir { write relabelfrom create add_name };
# Purpose: access /sys/kernel/debug/tracing/*
allow debuggerd debugfs_tracing:file { read write open };
# Purpose : Allow debuggerd to dump binder transaction log
allow debuggerd debugfs_binder:file r_file_perms;
allow debuggerd debugfs_binder:dir r_dir_perms;

# Purpose: aed set property
set_prop(debuggerd, persist_mtk_aee_prop);
set_prop(debuggerd, persist_aee_prop);
set_prop(debuggerd, debug_mtk_aee_prop);

# Purpose: aee_dumpstate set property
set_prop(debuggerd, debug_bq_dump_prop);

# Purpose: Allow debuggerd to dump blockio and fuseio log
allow debuggerd debugfs_blockio:file { read open };
allow debuggerd debugfs_fuseio:file { read open };
allow debuggerd debugfs_fuseio:dir search;

# Purpose: Allow debuggerd to dump /sys/kernel/ccci/md_chn
allow debuggerd sysfs_ccci:dir search;
allow debuggerd sysfs_ccci:file { read open };

# Purpose: Allow debuggerd to access toolbox
allow debuggerd toolbox_exec:file { execute execute_no_trans };

# purpose: allow debuggerd to access storage on N version
allow debuggerd media_rw_data_file:file  { create_file_perms };
allow debuggerd media_rw_data_file:dir { create_dir_perms };

# Purpose: Allow debuggerd to dump display related log
allow debuggerd debugfs_fb:file { read open };
allow debuggerd debugfs_fb:dir search;

# Purpose: Allow debuggerd to dump cpuhvfs related log
allow debuggerd debugfs_cpuhvfs:file { read open };
allow debuggerd debugfs_cpuhvfs:dir search;

# Purpose: Allow debuggerd to dump dynamic debug related log
allow debuggerd debugfs_dynamic_debug:dir search;
allow debuggerd debugfs_dynamic_debug:file { read open };

# Purpose: Allow debuggerd to dumpsys proctats and input
allow debuggerd procstats_service:service_manager find;
allow debuggerd input_service:service_manager find;

# Purpose: Allow deubggerd dump procrank related log
allow debuggerd sysfs_zram:dir search;
allow debuggerd sysfs_zram:file { read getattr open };

# Purpose: Allow debuggerd to dump debugfs wakeup_source,dmlog,
# shrinker_debug, rcu, ged
allow debuggerd debugfs_wakeup_sources:file { read open };
allow debuggerd debugfs_dmlog_debug:file { read open };
allow debuggerd debugfs_shrinker_debug:file { read open };
allow debuggerd debugfs_rcu:file { read open };
allow debuggerd debugfs_rcu:dir search;
allow debuggerd debugfs_ged:file { read open };
allow debuggerd debugfs_ged:dir search;

# Date : WK16.33
# Purpose: Allow to access ged for gralloc_extra functions
allow debuggerd proc_ged:file {open read write ioctl getattr};
# ==============================================
# MTK Policy Rule
# ============

# for SVP secure memory allocation
# Log: avc:  denied  { read } for  pid=4503 comm="screencap" name="secmem0" dev="proc"
allow debuggerd proc_secmem:file r_file_perms;

# Date : 2015/06/12
# Operation: TEEI integration
# Purpose: access for fp device and client device of TEEI
allow debuggerd teei_fp_device:chr_file rw_file_perms;
allow debuggerd teei_client_device:chr_file rw_file_perms;
# Purpose: access for keymaster device of TEEI
allow debuggerd ut_keymaster_device:chr_file rw_file_perms;

#android log much file
allow debuggerd logmuch_data_file:dir search;
allow debuggerd logmuch_data_file:file { read open };

# Date : WK16.21
# Operation : direct coredump enhancement
# Purpose : support abort message dumping
userdebug_or_eng(`
  allow debuggerd coredump_file:dir { remove_name };
  allow debuggerd coredump_file:file { unlink };
')

# Date : WK16.29
# Operation : Migration
# Purpose : Add permission for gpu access
allow debuggerd dri_device:chr_file getattr;
domain_auto_trans(debuggerd, dmlog_exec, dmlog)

