#============= hal_sensors_default ==============

allow hal_sensors_default sysfs:file { open read };
allow hal_sensors_default input_device:dir read;
allow hal_sensors_default hwmsensor_device:chr_file { ioctl open read };
