# ==============================================
# MTK Policy Rule
# ==============================================
# Access devices.
allow system_server touch_device:chr_file rw_file_perms;
allow system_server stpant_device:chr_file rw_file_perms;
allow system_server devmap_device:chr_file r_file_perms;
allow system_server irtx_device:chr_file rw_file_perms;
allow system_server qemu_pipe_device:chr_file rw_file_perms;
allow system_server wmtWifi_device:chr_file w_file_perms;

# Access sensor common devices
allow system_server m_batch_misc_device:chr_file r_file_perms;
allow system_server hwmsensor_device:chr_file r_file_perms;

# Access sensor bio devices
allow system_server m_als_misc_device:chr_file rw_file_perms;
allow system_server m_baro_misc_device:chr_file rw_file_perms;
allow system_server m_hmdy_misc_device:chr_file rw_file_perms;
allow system_server m_ps_misc_device:chr_file rw_file_perms;
allow system_server m_acc_misc_device:chr_file rw_file_perms;
allow system_server m_mag_misc_device:chr_file rw_file_perms;
allow system_server m_gyro_misc_device:chr_file rw_file_perms;
allow system_server m_act_misc_device:chr_file rw_file_perms;
allow system_server m_pedo_misc_device:chr_file rw_file_perms;
allow system_server m_ges_misc_device:chr_file rw_file_perms;
allow system_server m_step_c_misc_device:chr_file rw_file_perms;
allow system_server m_tilt_misc_device:chr_file rw_file_perms;
allow system_server m_fusion_misc_device:chr_file rw_file_perms;

# Access mtk sensor setting and calibration node.
allow system_server sensor_data_file:file create_file_perms;
allow system_server sensor_data_file:dir rw_dir_perms;

# Access mtk gps devices.
allow system_server gps_data_file:file create_file_perms;
allow system_server gps_data_file:dir rw_dir_perms;

# /proc access.
allow system_server proc:file w_file_perms;

# /data/dontpanic access.
allow system_server dontpanic_data_file:dir search;

# /data/agps_supl access.
allow system_server agpsd_data_file:dir r_dir_perms;

# /data/core access.
allow system_server aee_core_data_file:dir r_dir_perms;

# /sys/kernel/debug/ion/clients access
allow system_server debugfs:dir r_dir_perms;

# Perform Binder IPC.
binder_call(system_server,debuggerd)
allow system_server zygote:binder impersonate;

# Property service.
allow system_server ctl_bootanim_prop:property_service set;

# After connected to DHCPv6, enabled 6to4 IPv6 AP to get property.
allow system_server proc_net:file w_file_perms;
r_dir_file(system_server, wide_dhcpv6_data_file)

# For dumpsys.
allow system_server aee_dumpsys_data_file:file w_file_perms;
allow system_server aee_exp_data_file:file w_file_perms;

# Dump native process backtrace.
allow system_server exec_type:file r_file_perms;

# Querying zygote socket.
allow system_server zygote:unix_stream_socket { getopt getattr };

# For WiFi framework to communicate with hostapd over socket,
# send command and get information for hotspot manager functionality.
allow system_server wpa_wlan0_socket:sock_file w_file_perms;
allow system_server hostapd:unix_dgram_socket sendto;
allow hostapd system_server:unix_dgram_socket sendto;

# Communicate over a socket created by mnld process.
allow system_server debuggerd:fd use;
allow system_server mnld_data_file:sock_file create_file_perms;
allow system_server mnld_data_file:sock_file rw_file_perms;
allow system_server mnld_data_file:dir create_file_perms;
allow system_server mnld_data_file:dir rw_dir_perms;
allow system_server mnld:unix_dgram_socket sendto;

# For MPE debug and socket connection.
allow system_server MPED_data_file:sock_file create_file_perms;
allow system_server MPED_data_file:sock_file rw_file_perms;
allow system_server MPED_data_file:dir create_file_perms;
allow system_server MPED_data_file:dir rw_dir_perms;
allow system_server MPED:unix_dgram_socket sendto;
allow system_server MPED:unix_stream_socket { getopt getattr };
binder_call(system_server, MPED)

# For mtkFlpDaemon debug and socket connection.
allow system_server mtkFlpDaemon:unix_dgram_socket sendto;
allow system_server mtkFlpDaemon:unix_stream_socket { getopt getattr connectto };
allow system_server mtkFlpDaemon_data_file:sock_file create_file_perms;
allow system_server mtkFlpDaemon_data_file:sock_file rw_file_perms;
allow system_server mtkFlpDaemon_data_file:dir create_file_perms;
allow system_server mtkFlpDaemon_data_file:dir rw_dir_perms;

# Purpose: allow debuggerd to do dumpsys
allow system_server debuggerd:fifo_file write;

# Allow system_server to read /sys/kernel/debug/wakeup_sources
allow system_server debugfs_wakeup_sources:file r_file_perms;

# Allow system_server to read/write /sys/power/dcm_state
allow system_server sysfs_dcm:file rw_file_perms;

# Date : WK16.33
# Purpose: Allow to access ged for gralloc_extra functions
allow system_server proc_ged:file {open read write ioctl getattr};

# Date : WK16.36
# Purpose: Allow to set property log.tag.WifiHW to control log level of WifiHW
allow system_server log_tag_prop:property_service set;
# ==============================================
# MTK Policy Rule
# ============

# Date : WK14.37
# Operation : Migration
# Purpose : for idling on homescreen
allow system_server guiext-server:binder { transfer call };

# Date: WK14.43
# Operation : Migration
# Purpose : access to atcid from system server for GPS AT Command.
allow system_server atci_service:unix_dgram_socket sendto;
allow system_server atci_service:dir write;
allow system_server atci_service:dir add_name;

# Date: WK14.43
# Operation : Migration
# Purpose : for bring up
allow system_server sf_rtt_file:dir relabelto;

# Date: WK14.44
# Operation : Migration
# Purpose : for debug
allow system_server sf_rtt_file:dir r_dir_perms;

# Date: WK14.47
# Operation : MTBF
# Purpose : for debug
allow system_server sf_rtt_file:file r_file_perms;

# Date: WK14.47
# Operation : Sanity
# Purpose : for /system/app/mcRegistry and /proc/secmem (TEE enable)
allow system_server mobicore_data_file:dir r_dir_perms;
allow system_server proc_secmem:file rw_file_perms;

# Date: WK16.30
# Operation : Migration
# Purpose : for system_server operate /dev/RT_Monitor when enable hang detect
allow system_server RT_Monitor_device:chr_file r_file_perms;

# Date: WK14.52
# Operation : Feature developing
# Purpose : Communicate with native daemon (epdg_wod)
unix_socket_connect(system_server, wod_action, epdg_wod)
unix_socket_connect(system_server, wod_sim, epdg_wod)

# Date : WK15.24
# Operation: TEEI integration
# Purpose: access for fp device
allow system_server teei_fp_device:chr_file rw_file_perms;
allow system_server teei_client_device:chr_file r_file_perms;

# Date : WK15.30
# Operation : Migration
# Purpose : for device bring up, not to block early migration/sanity
allow system_server dm_agent_binder_service:service_manager find;
allow system_server guiext-server_service:service_manager find;

# Date : WK15.30
# Operation : Migration
# Purpose : for device bring up, not to block early migration/sanity
allow system_server aal_service:service_manager find;

# Date: WK16.11
# Operation: Migration
# Purpose: [mtk_agpsd] Allow LocationExt connect to agpsd socket
allow system_server mtk_agpsd:unix_stream_socket connectto;
allow system_server mtk_agpsd:unix_dgram_socket sendto;

# Date : 2016/02/26
# Operation: BSP C2K(for LG) test case support
# Purpose: allow atci to use NSIOT firewall
# Package: com.mediatek.atci.service
allow system_app netd_socket:sock_file write;

# Date : 2016/07/11
# Operation : Migration
# Purpose : Add permission for gpu access
allow system_server dri_device:chr_file { read write open ioctl };
# ==============================================
# MTK Policy Rule
# ============

# Date : WK14.32
# Operation : Migration
# Purpose : for wifi p2p functionality
allow system_server dhcp_data_file:dir rw_dir_perms;
allow system_server dhcp_data_file:file create_file_perms;

# Date : WK14.34
# Operation : Migration
# Purpose : for WFD functionality
allow system_server media_wfd_prop:property_service set;

# Date : WK14.37
# Operation : Migration
# Purpose : for relabeling files in /data/anr/ created at bootup
allow system_server anr_data_file:file relabelto;

# Date : WK14.39
# Operation : Migration
# Purpose : for operate HDMI device
allow system_server graphics_device:chr_file r_file_perms;

# Date: WK14.40
# Operation : Migration
# Purpose : for ACTION_PREBOOT_IPO intent in ipo boot
binder_call(system_server, ipod)

# Date: wk14.40
# Operation : SQC
# Purpose : [ALPS01756200] wwop boot up fail
allow system_server custom_file:dir r_dir_perms;
allow system_server custom_file:file r_file_perms;

# Date: WK14.41
# Operation : Migration
# Purpose : boost thread to RT
allow system_server surfaceflinger:process { setsched getsched };

# Date: WK14.41
# Operation : Migration
# Purpose : allow system_server to start ipod
allow system_server ctl_ipod_prop:property_service set;

# Date: WK14.43
# Operation : Migration
# Purpose : for bring up
allow system_server anr_data_file:dir relabelfrom;

# Date : WK15.02
# Operation : 120Hz Feature SQC
# Purpose : for 120Hz Smart Switch
allow system_server mtk_rrc_device:chr_file rx_file_perms;

# Date : WK15.37
# Operation : Feature developing
# Purpose : For DHCPv6 renew procedure,
#           system service needs to notify native dhcp6c process
allow system_server dhcp6c:process signal;

# Date : WK15.38
# Operation : Bug fix
# Purpose : Allow P2P framework to read MAC via nvram_agent_service
allow system_server nvram_agent_service:service_manager find;

# Date : WK16.20
# Operation : Migration
# Purpose : Allow system server to execute "rm r /data/piggybank"
allow system_server toolbox_exec:file x_file_perms;

# Date: W16.17
# Operator: VzW SDK library preloaded
# Purpose: comply with Vzw eMBMS operator requirement
allow system_server embms_library_file:dir search;

# Date : WK16.18
# Operation : new feature
# Purpose : allow uniservice-pack to set property as doing feature customization
# property service
allow system_server usp_prop:property_service set;
allow system_server mtk_volte_prop:property_service set;
allow system_server mtk_wfc_prop:property_service set;
allow system_server mtk_vt_prop:property_service set;

# Date: W16.21
# Operation : Migration
# Purpose : Allow system server to read/write /sys/kernel/debug/binder/* for ANR mechanism
allow system_server debugfs_binder:file rw_file_perms;

# Date: W16.25
# Operation : Migration
# Purpose : Allow system server to read/write /d/ged/hal/* for GED operations
allow system_server debugfs_ged:dir rw_dir_perms;
allow system_server debugfs_ged:file rw_file_perms;

# Date: W16.27
# Operation : Carrier Express Pack: new feature
# Purpose : Allow system server to open/read/write ioctl for screen freeze/unfreeze operations
allow system_server graphics_device:chr_file { open read write ioctl };

# Date:W16.28
# Operation : Migration
# Purpose : Allow system server to read/write /sys/kernel/debug/tracing/* for ANR mechanism
allow system_server debugfs_tracing:file rw_file_perms;

# Date:W16.34
# Operation : Migration
# Purpose : Allow system server to read /sys/kernel/debug/shrinker for memory debugging information
allow system_server debugfs_shrinker_debug:file r_file_perms;

# Date: W16.35
# Operation : Carrier Express Pack: bug fix - ALPS02862154
# Purpose : Allow system server to open/read/write ioctl for sending ccci to enter/leave deep flight
allow system_server ccci_device:chr_file rw_file_perms;

# Date: W16.37
# Operation : Carrier Express Pack: bug fix - ALPS02892994
# Purpose : Allow system server to set property ril eboot, splitted usp prop to usp srv prop
allow system_server usp_srv_prop:property_service set;
allow system_server radio_prop:property_service set;
allow system_server cdma_prop:property_service set;
