# ==============================================
# MTK Policy Rule
# ==============================================

# Date : 2014/09/09
# Operation : Development GMO Feature "Move OAT to SD Card"
# Purpose : for GMO ROM Size Slim
#allow untrusted_app dalvikcache_data_file:lnk_file read;

# Date: 2016/02/26
# Operation: Migration
# Purpose: Allow MTK modified ElephantStress and WhatsTemp to read thermal zone temperatures
#					 from MTK kernel modules for thermal tests at OEM/ODM.
allow untrusted_app proc_mtktz:dir search;
allow untrusted_app proc_mtktz:file r_file_perms;
# ==============================================
# MTK Policy Rule
# ==============================================

# Date : W1452
# Operation : WVL1 Modular DRM IT
# Purpose : Allow svp client alloc sec mem
allow untrusted_app proc_secmem:file { read ioctl open };

# Date : WK15.42
# Operation : TEEI Migration
# Purpose : allow teei tester APK to use teei_client_device
allow untrusted_app teei_client_device:chr_file write;

# Date : 2014/09/04
# Stage: BaseUT
# Purpose :[Launcher2][View update graphics]
# Package Name: com.android.launcher2
allow untrusted_app guiext-server:binder { transfer call };

# Date : 2016/07/12
# Operation : SQC
# Purpose : allow untrusted_app access ntfs device
allow untrusted_app fuseblk:dir search;
allow untrusted_app fuseblk:file read;
allow untrusted_app fuseblk:file rw_file_perms;

# Date : 2016/7/22
# Operation: SQC
# Purpose : Allow untrusted_app access through sdcardfs and fuse. Note: Android is planned
# to run untrusted_app in sandbox, and may limit more FS operations of untrusted_app in the future.
allow untrusted_app {fuse sdcardfs}:dir create_dir_perms;
allow untrusted_app {fuse sdcardfs}:file create_file_perms;
allow untrusted_app vfat:dir  {reparent rename rmdir setattr rw_dir_perms};
allow untrusted_app vfat:file {rename setattr rw_file_perms};

# Date : WK16.36
# Operation : untrusted_app support direct-coredump abort message
# Purpose :
# avc: denied { write } for name="aee_interim" dev="dm-0" ino=8236
# scontext=u:r:untrusted_app:s0:c512,c768 tcontext=u:object_r:coredump_file:s0
# tclass=dir permissive=0
userdebug_or_eng(`
  allow untrusted_app coredump_file:dir { write };
')
# ==============================================
# MTK Policy Rule
# ==============================================

# Date : 2015/10/12
# Operation : Testing with third party, e.g. Hugeland
# Purpose : Allow third party app connects to md_monitor's local socket
allow untrusted_app md_monitor:unix_stream_socket connectto;

#3G/4G VT vtservice
allow untrusted_app vtservice:dir search;
allow untrusted_app vtservice:file { read getattr open };
allow untrusted_app mediaserver:dir search;
allow untrusted_app mediaserver:file read;

# Date : W16.01
# Operation: CrossMount IT
# Purpose : Allow untrusted app to find CrossMount
allow untrusted_app mtk_crossmount_service:service_manager find;

# Date : W1602
# Operation: IR-Learning feature check-in
# Purpose : Allow all untrusted_apps to find ConsumerIrExtraService
# Package : com.mediatek.consumerir
allow untrusted_app mtk_consumerir_service:service_manager find;

# Date : W1537
# Operation: M0 Migration
# Purpose : Allow untrusted_app to find HotKnot
# Package : com.mediatek.hotknot.service
allow untrusted_app mtk_hotknot_service:service_manager find;

# Date : WK14.46
# Operation : Migration
# Purpose : for MTK Emulator HW GPU
allow untrusted_app qemu_pipe_device:chr_file rw_file_perms;

# CTS issue
allow untrusted_app proc_lk_env:file getattr;
allow untrusted_app proc_sysrq:file getattr;
allow untrusted_app sdcard_type:file execute;
allow untrusted_app protect_f_data_file:dir getattr;
allow untrusted_app protect_s_data_file:dir getattr;

# Date : WK15.39
# Operation : Migration
# Purpose : allow untrusted_app to find pq_service
allow untrusted_app pq_service:service_manager { find };

# Date : WK15.48
# Operation : Stress Test
# Purpose : allow test APK to use MediaScannerService
allow untrusted_app storage_stub_file:dir getattr;

# Date : 2014/10/27
# Operation : SQC
# Purpose : [ALPS01785313] Permission denied for dump hprof
# Package: com.android.gallery3d
# allow untrusted_app anr_data_file:file rw_file_perms;

# Date: 2015/9/23
# Operation: Program binary service
# Purpose : Add permission for program binary service find from ServiceManager.
allow untrusted_app program_binary_service:service_manager find;

# Date: 2016/5/16
# Operator: Allow eMBMS middleware install vzw SDK library
# Purpose: comply with Vzw eMBMS operator requirement
allow untrusted_app embms_library_file:dir {search getattr};
allow untrusted_app embms_library_file:file {read getattr open};

# Date: 2016/5/16
# Operator: New feature for eMBMS middleware integration
# Purpose: allow vendor's eMBMS middleware APK to send AT-command via embmsd local socket
unix_socket_connect(untrusted_app, rild_embms, rilproxy)
