# ==============================================
# MTK Policy Rule
# ==============================================

# O
allow untrusted_app_25 proc:file ioctl;
