# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

# service can not be overwritten except SPRINT
# Thus, rilcarrier is imported before common rc, like init.rilchip.rc
import /init.rilchip.rc

# almond
service ril-daemon /system/bin/rild
    class main
    socket rild stream 660 root radio
    socket rild-debug stream 660 radio system
    socket sap_uim_socket1 stream 660 bluetooth bluetooth
    user root
    group radio cache inet misc audio readproc sdcard_rw log system vpn wakelock

service ril-daemon1 /system/bin/rild -c 2
    class main
    socket rild2 stream 660 root radio
    socket rild-debug2 stream 660 radio system
    user root
    group radio cache inet misc audio readproc sdcard_rw log system vpn wakelock
    disabled

# for Wi-Fi only models
on property:ro.radio.noril=yes
stop ril-daemon
