# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

# service can not be overwritten except SPRINT
# Thus, rilcarrier is imported before common rc, like init.rilchip.rc
import /init.rilcarrier.rc
import /init.rilchip.rc
import /init.rilepdg.rc

on boot

# AT Distributor for factory test
service at_distributor /system/bin/at_distributor
    class late_start
    user root
    group system radio inet misc log sdcard_r sdcard_rw

service DR-daemon /system/bin/ddexe
    class main
    user root
    group system radio inet net_raw

service BCS-daemon /system/bin/connfwexe
    class main
    user root
    group system radio inet net_raw

# for ethernet
service dhcpcd_eth0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

# for SmartSwitch
service dhcpcd_usb0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

# APN HACK
on post-fs-data
    # Remove symlinks to avoid issues with migrate after nandroid restores
    # Will be recreated at end of boot
    rmdir /data/data/com.android.providers.telephony/databases
    rmdir /data/data/com.android.providers.telephony/shared_prefs
    rm /data/data/com.android.providers.telephony/databases
    rm /data/data/com.android.providers.telephony/shared_prefs

on property:sys.boot_completed=1
    # Symlink directories to access telephony.db and preferred-apn.xml required by cbd
    symlink /data/user_de/0/com.android.providers.telephony/databases /data/data/com.android.providers.telephony/databases
    symlink /data/user_de/0/com.android.providers.telephony/shared_prefs /data/data/com.android.providers.telephony/shared_prefs
    restorecon /data/data/com.android.providers.telephony/databases
    restorecon /data/data/com.android.providers.telephony/shared_prefs

    # restart RIL <--> modem stack to account for new locations
    restart ril-daemon
    restart ril-daemon1

# for Wi-Fi only models
on property:ro.radio.noril=yes
stop ril-daemon
