#
# XLOG service configuration
#
service vendor.xlogboot /vendor/bin/xlog boot
    user root
    oneshot
    disabled

service vendor.xlogdebugchanged /vendor/bin/xlog debug-changed
    user root
    oneshot
    disabled

on property:init.svc.adbd=running
    start vendor.xlogdebugchanged

on property:init.svc.adbd=stopped
    start vendor.xlogdebugchanged
