#
# XLOG service configuration
#
service xlogboot /vendor/bin/xlog boot
    user root
    oneshot
    disabled

service xlogdebugchanged /vendor/bin/xlog debug-changed
    user root
    oneshot
    disabled

on property:init.svc.adbd=running
    start xlogdebugchanged

on property:init.svc.adbd=stopped
    start xlogdebugchanged
