# Wi-Fi init file

on post-fs-data
    # give system access to wpa_supplicant.conf for backup and restore
    mkdir /data/vendor/wifi 0770 wifi wifi
    chmod 0660 /data/vendor/wifi/wpa_supplicant.conf
    chmod 0660 /data/vendor/wifi/p2p_supplicant.conf
    chown system wifi /data/vendor/wifi/p2p_supplicant.conf
    mkdir /data/vendor/wifi/sockets 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa_supplicant 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa/sockets 0770 wifi wifi
    mkdir /data/vendor/wifi/log/ 0770 wifi system
    mkdir /data/misc/dhcp 0775 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp

    # for WIFI TRP/TIS
    chown system root /data/.psm.info
    chmod 0664 /data/.psm.info

    # for WIFI Antenna Selection
    chown system root /data/.ant.info
    chmod 0664 /data/.ant.info

    # for WIFI Version
    write /data/.wifiver.info 0
    chown system root /data/.wifiver.info
    chmod 0666 /data/.wifiver.info

    # for WIFI MEMDUMP
    chown system root /data/.memdump.info
    chmod 0666 /data/.memdump.info

    # for WIFI DONGLE EVENT LOG
    write /data/.logtrace.info 1
    chown system root /data/.logtrace.info
    chmod 0666 /data/.logtrace.info

    # for WIFI Cert
    chmod 0664 /data/.bustxglom.info
    chmod 0664 /data/.roamoff.info
    chmod 0664 /data/.frameburst.info
    chmod 0664 /data/.txbf.info
    # for WIFI MAC address
    mkdir /efs/wifi 0775 radio system
    chown system wifi /efs/wifi/.mac.info
    chmod 0660 /efs/wifi/.mac.info
    start macloader

on boot
	setprop wifi.interface wlan0

    # Pcie WiFi T-put setting
	write /sys/class/net/wlan0/queues/rx-0/rps_cpus 00

# tiburona
