# MTK project .rc configure

import init.carrier.rc
import init.mt6735.usb.rc
import init.wifi.rc

on init
    mkdir /mnt/media_rw/usbotg 0700 media_rw media_rw
    mkdir /storage/usbotg 0700 root root
	mkdir /preload 0771 system system

    symlink /dev/block/platform/mtk-msdc.0/11230000.msdc0/by-name/STEADY /dev/block/steady

on boot

# SSWAP
    write /proc/sys/vm/swappiness 130

# move to memory card - SRIB
service extSdUFSVold /system/bin/extSDCardServiceVold
    class main
    user system
    group system mount radio net_bt sdcard_rw shell media media_rw

on post-fs-data
# Permissions for audio
    chown system radio /sys/class/audio/earjack/select_jack
    chown system radio /sys/class/audio/earjack/key_state
    chown system radio /sys/class/audio/earjack/state
    chown system radio /sys/class/audio/earjack/mic_adc

#
# Connectivity related device nodes & configuration (begin)
#

#/dev/ttyMT2 for Connectivity BT/FM/GPS usage
    chmod 0660 /dev/ttyMT2
    chown system system /dev/ttyMT2

# Directory for GPS
    mkdir /data/system 0771 system system
    chown system system /data/system
    mkdir /data/system/gps 0771 system system
    chown system system /data/system/gps
    rm /data/system/gps/gps_started
    rm /data/system/gps/glonass_started
    rm /data/system/gps/smd_started
    rm /data/system/gps/sv_cno.info

# STP, WMT, GPS, FM and BT Driver
#   insmod /system/lib/modules/mtk_hif_sdio.ko
#   insmod /system/lib/modules/mtk_stp_wmt.ko
#   insmod /system/lib/modules/mtk_stp_uart.ko
#   insmod /system/lib/modules/mtk_stp_gps.ko
#   insmod /system/lib/modules/mtk_stp_bt.ko
#   insmod /system/lib/modules/mtk_fm_drv.ko
#   insmod /system/lib/modules/mtk_wmt_wifi.ko


    chmod 0660 /dev/wmtWifi
    chown system system /dev/wmtWifi

#Camera
    chmod 0660 /dev/MAINAF
    chown system camera /dev/MAINAF

    chmod 0660 /dev/MAINAF2
    chown system camera /dev/MAINAF2

    chmod 0660 /dev/SUBAF
    chown system camera /dev/SUBAF

    chmod 0660 /dev/GAF001AF
    chown system camera /dev/GAF001AF

    chmod 0660 /dev/DW9714AF
    chown system camera /dev/DW9714AF

    chmod 0660 /dev/DW9807AF
    chown system camera /dev/DW9807AF

    chmod 0660 /dev/AD5820AF
    chown system camera /dev/AD5820AF

    chmod 0660 /dev/BU64745GWZAF
    chown system camera /dev/BU64745GWZAF

#SMB
    chown system system /proc/smb/ScreenComm
    chmod 0660 /proc/smb/ScreenComm

# BT
#    chmod 0660 /dev/stpbt
#    chown bluetooth radio /dev/stpbt

# GPS
#    chown gps gps /dev/stpgps
    chown gps gps /sys/class/gpsdrv/mtkgps/pwrctl
    chown gps gps /sys/class/gpsdrv/mtkgps/suspend
    chown gps gps /sys/class/gpsdrv/mtkgps/state
    chown gps gps /sys/class/gpsdrv/mtkgps/pwrsave
    chown gps gps /sys/class/gpsdrv/mtkgps/status
#    chmod 0660 /dev/stpgps
    chmod 0666 /dev/mtkgps

# WiFi
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wpa_supplicant 0770 wifi wifi
    chown wifi wifi /data/misc/wifi

# Permissions for System LSI NFC
# NFC : Permissions for NFC
	chmod 0660 /dev/sec-nfc
# NFC : change owner
	chown nfc nfc /dev/sec-nfc

# Permissions for S.LSI ESE
	chmod 0660 /dev/p3
	chown system system /dev/p3

#Define device for ATCID
    chmod 660 /dev/ttyGS0
    chown system /dev/ttyGS0
    chmod 660 /dev/ttyGS1
    chown system /dev/ttyGS1

#Disable for one Single loader
# Load WiFi Driver
#   insmod /system/lib/modules/wlan_mt.ko
   chown bluetooth bluetooth /dev/ampc0
    chmod 0660 /dev/ampc0

#
# Connectivity related device nodes & configuration (end)
#


    chmod 0666 /dev/exm0


service fuse_usbotg /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/usbotg /storage/usbotg
    class late_start
    disabled

# New IMS Stack
service imsd /system/bin/imsd
    class main
    socket imsd stream 0660 system system
    socket sme_socket stream 0660 system system
    user root
    group system radio net_raw inet net_admin

#
# Connectivity related services (Begin)
#

service atci_service /system/bin/atci_service
	socket atci-service stream 660 radio system
	socket atci-serv-fw stream 660 radio system
	user root
        disabled
	group radio system
service atcid-daemon-u /system/bin/atcid
	user system
	group radio system media
	disabled
	oneshot

service atcid-daemon-e /system/bin/atcid
	user root
	group radio system
	disabled
	oneshot

on early_property:ro.build.type=eng
start atci_service
start atcid-daemon-e
service audio-daemon /system/bin/audiocmdservice_atci
    class main
    socket atci-audio stream 660 media system
    user media
    group nvram media system sdcard_rw
    disabled
    oneshot

service wmtLoader /system/bin/wmt_loader
    user root
    group root
   class core
    oneshot


service conn_launcher /system/bin/6620_launcher -p /system/etc/firmware/
    user system
    group system
    class core

on property:service.wcn.coredump.mode=2
start stp_dump

service stp_dump /system/bin/stp_dump3
    user system
    group system
    class core
    disabled
    oneshot
	
#service desen_loader /system/bin/desen_loader
#    user root
#    group root
#    class core
#    oneshot

#
# Connectivity related services (End)
#

service prepare_param /system/bin/prepare_param.sh /dev/block/platform/mtk-msdc.0/11230000.msdc0/by-name/PARAM
    class core
    user root
    group root
    seclabel u:r:prepare_param:s0
    oneshot

# umount service
service umount_service /system/bin/umount -D /preload
    disabled
    oneshot

# Support Preload install apks
on property:persist.sys.storage_preload=1
    mount ext4 /dev/block/platform/mtk-msdc.0/11230000.msdc0/by-name/hidden /preload nosuid nodev ro barrier=1
    setprop storage.preload.complete 1

on property:persist.sys.storage_preload=0
    start umount_service

# SSWAP
#service swapon /sbin/sswap -s
#    class core
#    user root
#    group root
#    seclabel u:r:sswap:s0
#    oneshot

# deferred initcall
#service sec-sh /system/bin/sh /system/etc/init.sec.boot.sh
#    class main
#    user root
#    oneshot
