# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#
   
on post-fs-data

# Define TCP buffer sizes for various networks
#   ReadMin, ReadInitial, ReadMax, WriteMin, WriteInitial, WriteMax,
    setprop net.tcp.buffersize.default 4096,87380,524288,4096,16384,524288
    setprop net.tcp.buffersize.wifi    524288,1048576,2097152,262144,524288,1048576
    setprop net.tcp.buffersize.lte     524288,1048576,2097152,262144,524288,1048576
    setprop net.tcp.buffersize.umts    4094,87380,524288,4096,16384,524288
    setprop net.tcp.buffersize.hspa    4094,87380,524288,4096,16384,524288
    setprop net.tcp.buffersize.hsupa   4094,87380,524288,4096,16384,524288
    setprop net.tcp.buffersize.hsdpa   4094,87380,524288,4096,16384,524288
    setprop net.tcp.buffersize.hspap   4094,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.edge    4093,26280,35040,4096,16384,35040
    setprop net.tcp.buffersize.gprs    4092,8760,11680,4096,8760,11680

#SeLinux

    # Encrypt phone function
    setprop vold.post_fs_data_done 1

on fs

#
#  Modem related services (Begin)
#

#Add by T.Zh for ppp daemon
service pppd /system/bin/pppd file /data/misc/ppp/ppp_options
    user root
    disabled 
    oneshot

#
#
#  Modem related services (End)
#
