on boot
# MTK silentlog default OFF for UserBin
service emdlogger1 /system/bin/emdlogger1
    class main
    user shell
    group system shell radio sdcard_rw inet sdcard_r media_rw log
    disabled
    oneshot