allow audioserver rild:unix_stream_socket connectto;
allow audioserver efs_file:dir search;
allow audioserver sec_efs_file:dir search;
allow audioserver sec_efs_file:file { read open };
