# /dev/ttySAC3
allow bluetooth bluetooth_device:chr_file { rw_file_perms ioctl };

# /data/.cid.info
allow bluetooth wifi_data_file:file r_file_perms;

allow bluetooth sysfs:file write;

allow bluetooth gps_device:chr_file { open ioctl };
allow bluetooth uart_device:chr_file { read write open ioctl };
