# /sys/devices/virtual/camera/*/*_camfw
# /dev/m2m1shot_jpeg
allow cameraserver camera_device:dir { search };
allow cameraserver camera_device:file { read write open getattr };
allow cameraserver camera_device:chr_file { read open getattr };

allow camera_device sysfs:filesystem associate;

allow cameraserver camera_data_file:file { read open };

allow cameraserver media_rw_data_file:dir search;
