### efs types
type app_efs_file, file_type;
type battery_efs_file, file_type;
type bin_nv_data_efs_file, file_type;
type nv_log_efs_file, file_type;
# widewine, drm
type cpk_efs_file, file_type;
type drm_efs_file, file_type;
type imei_efs_file, file_type;
type prov_efs_file, file_type;
type sensor_efs_file, file_type;
type sec_efs_file, file_type;
type wifi_efs_file, file_type;

### sysfs types
type sysfs_mdnie_writable, fs_type, sysfs_type, mlstrustedobject;
type sysfs_mipi_writable, fs_type, sysfs_type, mlstrustedobject;
type sysfs_multipdp_writable, fs_type, sysfs_type, mlstrustedobject;

allow sysfs_type tmpfs:filesystem associate;

type biometrics_data_file, file_type;

type mobicore_data_file, file_type;
