
allow keystore domain:fd use;
allow keystore init:unix_stream_socket { read write connectto };

allow keystore sdcard_type:dir create_dir_perms;
allow keystore sdcard_type:file create_file_perms;

allow keystore block_device:dir r_dir_perms;
allow keystore emmcblk_device:blk_file rw_file_perms;
allow keystore tz_device:chr_file rw_file_perms;

allow keystore app_data_file:file rw_file_perms;
allow keystore platform_app_data_file:file w_file_perms;
allow keystore property_socket:sock_file rw_file_perms;

allow keystore system_prop:property_service set;
allow keystore denial_prop:property_service set;

# read request /efs/mdf/f
allow keystore efs_file:dir r_dir_perms;
allow keystore efs_file:file r_file_perms;

binder_call(keystore, system_server)
allow keystore system_service:service_manager find;

allow keystore proc_avc_msg:file rw_file_perms;

allow keystore audit_log:file rw_file_perms;

allow keystore log_device:chr_file rw_file_perms;

