# ==============================================
# Policy File of /system/binmxg2320d Executable File


# ==============================================
# Type Declaration
# ==============================================

type mxg2320d_exec , exec_type, file_type;
type mxg2320d ,domain;

# ==============================================
# MTK Policy Rule
# ==============================================

init_daemon_domain(mxg2320d)

# Purpose : M-sensor daemon for access M-sensor driver node
allow mxg2320d msensor_device:chr_file rw_file_perms;
allow mxg2320d gsensor_device:chr_file rw_file_perms;
allow mxg2320d input_device:dir rw_dir_perms;
allow mxg2320d input_device:file r_file_perms;
allow mxg2320d akmd8963_access_file1:file rw_file_perms;
allow mxg2320d akmd8963_access_file2:file rw_file_perms;

# Operate data partation directly, need modify later,e.g. use "data/misc/sensor".
# for msensor daemon access "data/misc".
file_type_auto_trans(mxg2320d, system_data_file, msensor_data_file)
allow mxg2320d system_data_file:dir create_dir_perms;
allow mxg2320d msensor_data_file:file create_file_perms;
