allow platform_app exfat:dir create_dir_perms;
allow platform_app exfat:file create_file_perms;
allow platform_app fuseblk:dir create_dir_perms;
allow platform_app fuseblk:file create_file_perms;
allow platform_app sdcard_posix:dir create_dir_perms;
allow platform_app sdcard_posix:file create_file_perms;
allow platform_app vfat:dir create_dir_perms;
allow platform_app vfat:file create_file_perms;
allow platform_app sysfs_gpu:dir search;
allow platform_app sysfs_gpu:file rw_file_perms;
