allow priv_app device:dir { open read };
allow priv_app exfat:dir create_dir_perms;
allow priv_app exfat:file create_file_perms;
allow priv_app fuseblk:dir create_dir_perms;
allow priv_app fuseblk:file create_file_perms;
allow priv_app sdcard_posix:dir create_dir_perms;
allow priv_app sdcard_posix:file create_file_perms;
allow priv_app vfat:dir create_dir_perms;
allow priv_app vfat:file create_file_perms;
# gpu
allow priv_app sysfs_gpu:dir search;
allow priv_app sysfs_gpu:file rw_file_perms;
