type tzdaemon, domain;
type tzdaemon_exec, exec_type, file_type;

init_daemon_domain(tzdaemon)

net_domain(tzdaemon)

# setprop
set_prop(tzdaemon, system_prop)
set_prop(tzdaemon, tzdaemon_prop)

allow tzdaemon self:capability { ipc_lock dac_override };

# access /dev/tzdev
allow tzdaemon tz_device:chr_file rw_file_perms;
allow tzdaemon tz_socket:sock_file rw_file_perms;

allow tzdaemon shell_exec:file rx_file_perms;
allow tzdaemon socket_device:dir rw_dir_perms;
allow tzdaemon socket_device:sock_file create_file_perms;
allow tzdaemon system_data_file:dir { write add_name };
allow tzdaemon system_data_file:file r_file_perms;

allow tzdaemon system_file:file rx_file_perms;
allow tzdaemon tee_data_file:dir create_dir_perms;
allow tzdaemon tee_data_file:file create_file_perms;
allow tzdaemon tee_data_file:file link;

allow tzdaemon system_prop:property_service set;
# [sys.tzdaemon] : [Ready] 
allow tzdaemon tzdaemon_prop:property_service set;

