#-- List of domains (might) need permissive
# servicemanager - to get logs
# surfaceflinger - wierd tombstone output
# gatekeeperd - did not recognize TZDaemon

#-- Permissive-lize
userdebug_or_eng(`

# This is only for logging purpose
# since some like being killed signal 6


#permissive servicemanager;

')
