# ==============================================
# MTK Policy Rule
# ==============================================

# Date : WK14.32
# Operation : Migration
# Purpose : Set audio driver permission to access SD card for debug purpose and accss NVRam.
allow audioserver sdcard_type:dir { w_dir_perms create };
allow audioserver sdcard_type:file create;
allow audioserver nvram_data_file:dir w_dir_perms;
allow audioserver nvram_data_file:file create_file_perms;
allow audioserver nvram_data_file:lnk_file read;
allow audioserver nvdata_file:dir w_dir_perms;
allow audioserver nvdata_file:file create_file_perms;
allow audioserver sdcard_type:dir remove_name;
allow audioserver sdcard_type:file unlink;

# Date : WK14.34
# Operation : Migration
# Purpose : nvram access (dumchar case for nand and legacy chip)
allow audioserver nvram_device:chr_file rw_file_perms;
allow audioserver self:netlink_kobject_uevent_socket { create setopt bind };
allow audioserver self:capability { net_admin };

# Date : WK14.34
# Operation : Migration
# Purpose : Smartcard Service
allow audioserver self:netlink_kobject_uevent_socket read;
allow audioserver system_data_file:file open;

# Date : WK14.36
# Operation : Migration
# Purpose : media server and bt process communication for A2DP data.and other control flow
allow audioserver bluetooth:unix_dgram_socket sendto;
allow audioserver bt_a2dp_stream_socket:sock_file write;
allow audioserver bt_int_adp_socket:sock_file write;

# Date : WK14.36
# Operation : Migration
# Purpose :  access nvram, otp, ccci cdoec devices.
allow audioserver MtkCodecService:binder call;
allow audioserver ccci_device:chr_file rw_file_perms;
allow audioserver eemcs_device:chr_file rw_file_perms;
allow audioserver devmap_device:chr_file r_file_perms;
allow audioserver ebc_device:chr_file rw_file_perms;
allow audioserver nvram_device:blk_file rw_file_perms;
allow audioserver mmcblk0_block_device:blk_file rw_file_perms;

# Date : WK14.38
# Operation : Migration
# Purpose : NVRam access
allow audioserver block_device:dir { write search };

# Date : WK14.38
# Operation : Migration
# Purpose : FM driver access
allow audioserver fm_device:chr_file rw_file_perms;

# Data : WK14.38
# Operation : Migration
# Purpose : for boot animation.
allow audioserver bootanim:binder { transfer call };

# Data : WK14.38
# Operation : Migration
# Purpose : dump for debug
allow audioserver sdcard_type:file append;

# Date : WK14.39
# Operation : Migration
# Purpose : APE PLAYBACK
binder_call(audioserver,MtkCodecService)

# Data : WK14.39
# Operation : Migration
# Purpose : dump for debug
allow audioserver audiohal_prop:property_service set;

# Date : WK14.40
# Operation : Migration
# Purpose : HDMI driver access
allow audioserver graphics_device:chr_file rw_file_perms;

# Date : WK14.40
# Operation : Migration
# Purpose : Smartpa
allow audioserver smartpa_device:chr_file rw_file_perms;

# Data : WK14.40
# Operation : Migration
# Purpose : permit 'call' by audio tunning tool audiocmdservice_atci
allow audioserver audiocmdservice_atci:binder call;
binder_call(audioserver,audiocmdservice_atci)

# Date : WK14.41
# Operation : Migration
# Purpose : Lossless BT audio
#allow audioserver shell_exec:file { read open execute execute_no_trans };
#allow audioserver system_file:file execute_no_trans;
#allow audioserver zygote_exec:file execute_no_trans;

# Date : WK14.41
# Operation : Migration
# Purpose : WFD HID Driver
allow audioserver uhid_device:chr_file rw_file_perms;

# Date : WK14.43
# Operation : Migration
# Purpose : VOW
allow audioserver vow_device:chr_file rw_file_perms;

# Date: WK14.44
# Operation : Migration
# Purpose : EVDO
allow audioserver rpc_socket:sock_file write;
allow audioserver ttySDIO_device:chr_file rw_file_perms;

# Data: WK14.44
# Operation : Migration
# Purpose : for low SD card latency issue
allow audioserver sysfs_lowmemorykiller:file { read open };

# Data: WK14.45
# Operation : Migration
# Purpose : for change thermal policy when needed
allow audioserver proc_mtkcooler:dir search;
allow audioserver proc_mtktz:dir search;
allow audioserver proc_thermal:dir search;
allow audioserver thermal_manager_data_file:file create_file_perms;
allow audioserver thermal_manager_data_file:dir { rw_dir_perms setattr };

# Data : WK14.46
# Operation : Migration
# Purpose : for SMS app
allow audioserver radio_data_file:dir search;
allow audioserver radio_data_file:file open;

# Data : WK14.47
# Operation : Audio playback
# Purpose : Music as ringtone
allow audioserver radio:dir { search read };
allow audioserver radio:file r_file_perms;

# Data : WK14.47
# Operation : CTS
# Purpose : cts search strange app
allow audioserver untrusted_app:dir search;

# Date : WK15.03
# Operation : Migration
# Purpose : offloadservice
allow audioserver offloadservice_device:chr_file rw_file_perms;

# Date : WK15.34
# Operation : Migration
# Purpose: for camera middleware dump image buffer to sdcard & audio frameworks dump
allow audioserver system_data_file:dir write;
allow audioserver storage_file:lnk_file {read write};
allow audioserver mnt_user_file:dir {write read search};
allow audioserver mnt_user_file:lnk_file {read write};

# Date : WK16.17
# Operation : Migration
# Purpose: read/open sysfs node
allow audioserver sysfs_ccci:file r_file_perms;

# Date : WK16.18
# Operation : Migration
# Purpose: research root dir "/"
allow audioserver tmpfs:dir search;

# Date : WK16.18
# Operation : Migration
# Purpose: access sysfs node
allow audioserver sysfs:file { open read write };
allow audioserver sysfs_ccci:dir search;
# Purpose: Dump debug info
allow audioserver debugfs_binder:dir search;
allow audioserver kmsg_device:chr_file { open write };
allow audioserver property_socket:sock_file write;
allow audioserver media_rw_data_file:dir { create_dir_perms };
allow audioserver fuse:file write;
allow audioserver init:unix_stream_socket connectto;

# Date : WK16.27
# Operation : Migration
# Purpose: tunning tool update parameters
allow audioserver media_rw_data_file:file { create_file_perms };

# Date : WK16.28
# Operation : Migration
# Purpose: Write audio dump files to external SDCard.
allow audioserver sdcard_type:file { create_file_perms };
allow audioserver storage_file:dir { r_dir_perms };

# Date : WK16.33
# Purpose: Allow to access ged for gralloc_extra functions
allow audioserver proc_ged:file {open read write ioctl getattr};

# ==============================================
# MTK Policy Rule
# ==============================================

# Date: WK14.44
# Operation : Migration
# Purpose : EVDO
allow audioserver statusd:unix_stream_socket connectto;

# Date : WK15.03
# Operation : Migration
# Purpose : offloadservice
allow audioserver offloadservice_device:chr_file { read write ioctl open };

# Data : WK14.47
# Operation : Migration
# Purpose : for WFD looper
allow audioserver custom_file:dir search;

# Data : WK14.48
# Operation : WFD
# Purpose : For WFD scenario
allow audioserver untrusted_app_tmpfs:file write;

# Date : WK14.49
# Operation : WFD
# Purpose : WFD notifies its status to thermal module
allow audioserver proc_thermal:file { write getattr open };
#allow audioserver thermal_manager_exec:file { x_file_perms read open };
allow audioserver proc_mtkcooler:file { read write open };
allow audioserver proc_mtktz:file { read write open };
allow audioserver proc_thermal:file { read write open };
allow audioserver thermal_manager_data_file:file setattr;

# Date : WK15.11
# Operation : SRS
# Purpose : SRS
#allow audioserver system_data_file:file { w_file_perms };

# Date : WK15.33
# Operation : Migration
# Purpose : ape playback need to access MtkCodecService service.
allow audioserver mtk_codec_service_service:service_manager find;

# Date : WK15.44
# Operation : Migration
# Purpose : ancservice
allow audioserver ancservice_device:chr_file { read write ioctl open };
# ==============================================
# MTK Policy Rule
# ==============================================

# Date : WK15.36
# Operation : ViLTE
# Purpose : for ViLTE - set VTservice has permission to access me
allow audioserver vtservice:binder { transfer call };
allow audioserver vtservice:fd use;

# Date : WK15.35
# Operation : Migration
# Purpose: Allow reador andgetattr path="/data/data/com.mediatek.voicecommand/training
# /unlock/passwordfile/0.dat"
allow audioserver system_app_data_file:file { read getattr };

# Add by jackie.lin
# Date : WK16.10
# Operation : Move these sepolicy from basic to tk(full) which OMA DRM need
# Purpose : Allow audioserver to read /proc/pid/cmdline to get process name, so that
# it can do white list check which is MTK OMA DRM additional protection mechanism
# system_app:
allow audioserver system_app:dir search;
allow audioserver system_app:file { read open getattr };
# platform_app:
allow audioserver platform_app:dir search;
allow audioserver platform_app:file { read open getattr };
# untrusted_app:
allow audioserver untrusted_app:dir search;
allow audioserver untrusted_app:file { read open getattr };

# Date : WK15.46
# Operation : Migration
# Purpose : OpenDSP: read/write ipi message to tinysys
allow audioserver audio_ipi_device:chr_file { read write ioctl open };

# Date : WK14.37
# Operation : Migration
# Purpose : WFD and MET Latency measurement
allow audioserver media_wfd_prop:property_service set;
