# ==============================================
# Policy File of /system/bin/fuelgauged Executable File 

# ==============================================
# Type Declaration
# ==============================================
type fuelgauged ,domain, domain_deprecated;
type fuelgauged_exec , exec_type, file_type;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

init_daemon_domain(fuelgauged)

# Data : WK14.43
# Operation : Migration
# Purpose : Fuel Gauge daemon for access driver node
allow fuelgauged input_device:dir rw_dir_perms;
allow fuelgauged input_device:file r_file_perms;

# Data : WK14.43
# Operation : Migration
# Purpose : For meta tool calibration
allow fuelgauged mtk-adc-cali_device:chr_file rw_file_perms;

# Data : WK14.43
# Operation : Migration
# Purpose : For fg.log can be printed with kernel log
allow fuelgauged kmsg_device:chr_file w_file_perms;

# Data : WK14.43
# Operation : Migration
# Purpose : For fg daemon can comminucate with kernel
allow fuelgauged fuelgauged:netlink_kobject_uevent_socket create_socket_perms;
allow fuelgauged fuelgauged:netlink_socket create_socket_perms;
