# ==============================================================================
# Policy File of /system/bin/ged_srv Executable File
# ==============================================================================

# ==============================================================================
# Type Declaration
# ==============================================================================
type ged_srv, domain;
type ged_srv_exec, exec_type, file_type;

# ==============================================================================
# MTK Policy Rule
# ==============================================================================
# Date      : WK15.33
# Operation : New Daemon
# Purpose   : Start ged_srv. ged_srv is a daemon to recieve events to
#             dynamically change of 1) vsync-offset 2) FPS
#             though binder to surfaceflinger

init_daemon_domain(ged_srv)

allow ged_srv           servicemanager:binder call;
allow ged_srv           surfaceflinger_service:service_manager find;
#allow ged_srv           debugfs_ged:file {getattr read write ioctl open};
allow ged_srv           debugfs_ged:dir rw_dir_perms;
allow ged_srv           debugfs_ged:file rw_file_perms;

allow ged_srv           surfaceflinger:binder call;

binder_use(init)
binder_use(ged_srv)

# For property service and uevent
allow ged_srv           self:netlink_kobject_uevent_socket { bind create setopt read};
allow ged_srv           property_socket:sock_file write;
allow ged_srv           init:unix_stream_socket connectto;

# Perfservice
allow ged_srv           mtk_perf_service:service_manager find;
allow ged_srv           system_server:binder call;

# ==============================================================================
# GAS service section
# ==============================================================================
# Date      : WK16.06
# Operation : Migration
# Purpose   : Start GAS service. GAS service is a daemon to receive scene
#             knowledge from providers, to determinate if current system running
#             within the "Game mode".
#

# Claiming binder service
binder_use(ged_srv)
binder_service(ged_srv)
binder_call(ged_srv, system_server)
allow ged_srv           gas_srv_service:service_manager     add;

# For /proc/[pid]/cmdline accessing
typeattribute           ged_srv                             mlstrustedsubject;
allow ged_srv           proc:dir                            {search getattr};
allow ged_srv           proc:file                           {read write ioctl};
allow ged_srv           shell:dir                           search;
allow ged_srv           platform_app:dir                    search;
allow ged_srv           platform_app:file                   {open read getattr};
allow ged_srv           priv_app:dir                        search;
allow ged_srv           priv_app:file                       {open read getattr};
allow ged_srv           system_app:dir                      search;
allow ged_srv           system_app:file                     {open read getattr};
allow ged_srv           untrusted_app:dir                   search;
allow ged_srv           untrusted_app:file                  {open read getattr};
allow ged_srv           mediaserver:dir                     search;
allow ged_srv           mediaserver:file                    {open read getattr};

# for ged_query_info(): ioctl at /proc/ged
allow ged_srv           proc_ged:file                       {open read write ioctl};

# for accessing /sys, i.e.:
# 	1) /sys/class/BOOT/BOOT/boot/boot_mode of PerfServ
#
allow ged_srv           sysfs:file                          {read write open};

# Binder interaction
allow ged_srv           mtk_perf_service:service_manager    find;
allow surfaceflinger    gas_srv_service:service_manager     find;
allow platform_app      gas_srv_service:service_manager     find;
allow priv_app          gas_srv_service:service_manager     find;
allow system_app        gas_srv_service:service_manager     find;
allow untrusted_app     gas_srv_service:service_manager     find;
