# ==============================================
# MTK Policy Rule
# ==============================================


# Date : WK14.34
# Operation : Migration
# Purpose :  For WIFI SANITY test to set FW path(STA/P2P/AP) 
# Owner£º TingTing Lei
allow netd wmtWifi_device:chr_file { write open };

# Date : WK14.34
# Operation : Migration
# Purpose :  NA  
# Owner£º Changqing Sun
allow netd kernel:system module_request;
allow netd self:capability sys_module;
allow netd self:capability fsetid;

# Date : WK14.34
# Operation : Migration
# Purpose :   APP 
allow netd platform_app:fd use;
allow netd platform_app_tmpfs:file write;


# Date : WK14.37
# Operation : Migration
# Purpose :  PPPOE Test 
# Owner : lina wang
allow netd ppp:process sigkill;

# Date : WK14.39
# Operation : Migration
# Purpose :  MDLogger USB logging
# Owner : Bo shang 
allow netd mdlogger:fd use;
allow netd mdlogger:tcp_socket { read write };
allow netd mdlogger:tcp_socket { getopt setopt };

# Date : WK14.41
# Operation : Migration
# Purpose :  network logging
# Owner : Bo shang 
allow netd netdiag:fd use;
allow netd netdiag:udp_socket { read write getopt setopt};

# Date : WK14.44
# Operation : Migration
# Purpose : ALPS01789552
#============= netd ==============
allow netd self:capability { setuid setgid };

#============= netd ==============
allow netd isolated_app_tmpfs:file write;

#============= netd ==============
allow netd untrusted_app:fd use;
allow netd untrusted_app_tmpfs:file write;


# Date : W15.02
# Operation :  SQC
# Purpose :  CTS for wifi
allow netd untrusted_app:unix_stream_socket { read write getopt setopt};
allow netd isolated_app:fd use;
allow netd radio_tmpfs:file write;
# ==============================================
# MTK Policy Rule
# ==============================================
type dhcp6s_exec,exec_type,file_type;

# Date : WK14.41
# Operation : Migration
# Purpose :  ipv6 Tethering Test 
#============= netd ==============
allow netd dhcp6s_exec:file execute;
allow netd dhcp_data_file:dir { read search write add_name remove_name };
allow netd dhcp_data_file:file { read write create open getattr unlink};
allow netd radvd_data_file:dir { read write search add_name remove_name};
allow netd radvd_data_file:file { read write create open unlink};
allow netd self:capability { setuid net_bind_service setgid };


# Date : W14.52
# Operation : Migration
# Purpose :  add ePDG support
# Owner :  yuhhua hu
allow netd ipsec:fd use;
allow netd ipsec:tcp_socket { read write setopt getopt };
allow netd ipsec:udp_socket { read write setopt getopt };


# Date : W15.28
# Operation : Migration
# Purpose : add WFCA support
# Owner : Sheng-Lung Liu
allow netd wfca:fd use;
allow netd wfca:udp_socket {read write setopt getopt};

# Date : W15.39
# Operation :  CAT6 T-put
# Purpose :  CAT6 T-put
# Owner : Kang ouyang
allow netd servicemanager:binder call;
allow netd system_server:binder call;
allow netd mtk_perf_service:service_manager find;
binder_use(netd)

# Date : W16.25
# Operation : Ipv6 Set Prefix(Only for Android N)
# Purpose : set prefix and len
# Owner : Changqing Sun
set_prop(netd,mtk_net_ipv6_prop)

# Date : W16.27
# Operation : nsiot set property(Only for Android N)
# Purpose : nsiot set property
# Owner : kang ouyang
allow netd system_prop:property_service set;
# ==============================================
# MTK Policy Rule
# ==============================================


# Date : WK14.42
# Operation : Migration 
# Purpose : for VoLTE L early bring up and first call
# Owner : Frank-th Chen
allow netd volte_stack:fd use;
allow netd volte_stack:tcp_socket { read write setopt getopt };
allow netd volte_stack:udp_socket { read write setopt getopt };

# Date : W14.53
# Operation : Migration
# Purpose :  For volte_imcb ut
# Owner Ssu-hsien wu
allow netd volte_imcb:fd use;
allow netd volte_imcb:tcp_socket { read write };
allow netd volte_imcb:tcp_socket getopt;
allow netd volte_imcb:tcp_socket setopt;

# for vtservice connection
allow netd vtservice:fd use;
allow netd vtservice:udp_socket {read write setopt getopt};

#============= netd <-> volte_ua ==============
#Owner: Tsung-kun shih
allow netd volte_ua:fd use;
allow netd volte_ua:udp_socket {read write setopt getopt};


