# ==============================================
# Policy File of /system/app/CrossMount Executable File

# permissive mtk_crossmount;

# ==============================================
# Type Declaration
# ==============================================

type mtk_crossmount_exec , exec_type, file_type;
type mtk_crossmount ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

init_daemon_domain(mtk_crossmount)

binder_use(mtk_crossmount)
binder_call(mtk_crossmount, mtk_crossmount)
binder_service(mtk_crossmount)

allow mtk_crossmount mtk_crossmount_service:service_manager { add find };
