# ==============================================
# MTK Policy Rule
# ==============================================

# System Server Services

# Other Services
type nvram_agent_service, service_manager_type;
type mtk_codec_service_service, service_manager_type;
# ==============================================
# MTK Policy Rule
# ==============================================

# System Server Services
type mtk_mobile_service, app_api_service, system_server_service, service_manager_type;
type mtk_msg_monitor_service, app_api_service, system_server_service, service_manager_type;
#type mtk_recovery_service, app_api_service, system_server_service, service_manager_type;
type mtk_perf_service, app_api_service, system_server_service, service_manager_type;
type mtk_epdg_service, app_api_service, system_server_service, service_manager_type;
type mtk_rns_service, app_api_service, system_server_service, service_manager_type;

# Other Services
type guiext-server_service, service_manager_type;
type ota_agent_service, service_manager_type;
type pq_service, service_manager_type;
type gas_srv_service, service_manager_type;
type dm_agent_binder_service, service_manager_type;
type aal_service, service_manager_type;

# ==============================================
# MTK Policy Rule
# ==============================================

# System Server Services
type mtk_anrmanager_service, app_api_service, system_server_service, service_manager_type;
type mtk_hdmi_service, app_api_service, system_server_service, service_manager_type;
type mtk_data_shaping_service, app_api_service, system_server_service, service_manager_type;
type mtk_running_booster_service, app_api_service, system_server_service, service_manager_type;
type mtk_test_ampolicymaker_service, app_api_service, system_server_service, service_manager_type;

# Other Services
type mtk_crossmount_service, service_manager_type;
type mtk_hotknot_service, service_manager_type;
type hotknot_native_service, service_manager_type;
type mtk_consumerir_service, service_manager_type;
type ppl_agent_service, service_manager_type;
type program_binary_service, service_manager_type;
type terservice_service, service_manager_type;
type vtservice_service, service_manager_type;
type vie_command_service, service_manager_type;
type mtk_usp_service, app_api_service, system_server_service, service_manager_type;

