# ==============================================
# Policy File of /system/bin/sysenv_daemon Executable File 


# ==============================================
# Type Declaration
# ==============================================

type sysenv_daemon_exec , exec_type, file_type;
type sysenv_daemon ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

init_daemon_domain(sysenv_daemon)

# Date : WK16.24
# Operation : Create
# Purpose : move sysenv to userspace.
allow sysenv_daemon block_device:dir search;
allow sysenv_daemon para_block_device:blk_file rw_file_perms;
allow sysenv_daemon proc_lk_env:file rw_file_perms;
allow sysenv_daemon self:netlink_socket { read bind create };

