# ==============================================
# Policy File of /system/binterservice Executable File 


# ==============================================
# Type Declaration
# ==============================================

type terservice_exec , exec_type, file_type;
type terservice ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

init_daemon_domain(terservice)

# Date : 2014/09/18 (WK14.38)
# Operation : Migration
# Purpose : allow register terservice service in servicemanager.
allow terservice terservice_service:service_manager add;

# property service
set_prop(terservice, terservice_prop)

# ccci ioctl
allow terservice ccci_device:chr_file { read write ioctl open };
allow terservice sysfs_ccci:dir { r_dir_perms };
allow terservice sysfs_ccci:file { r_file_perms };


# ipc call
binder_use(terservice)
binder_service(terservice)


