# ==============================================
# Policy File of /system/bin/tune2fs Executable File

# ==============================================
# Type Declaration
# ==============================================
type tune2fs, domain;
type tune2fs_exec, exec_type, file_type;

# ==============================================
# MTK Policy Rule
# ==============================================

# Date : WK15.30
# Operation : Migration
# Purpose : adjust tunable file system parameters, mainly for reserve space in /data and set the user who can use them.
init_daemon_domain(tune2fs)

allow tune2fs userdata_block_device:blk_file rw_file_perms;
allow tune2fs block_device:dir search;

# Read /proc/swaps.
allow tune2fs proc:file r_file_perms;
