# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

service vendor.ril-daemon /vendor/bin/hw/rild -l ${vendor.rild.libpath}
    class main
    user radio
    group radio cache inet misc audio sdcard_r sdcard_rw log vpn system readproc wakelock oem_5432
    capabilities BLOCK_SUSPEND NET_ADMIN NET_RAW SYS_ADMIN CHOWN DAC_READ_SEARCH

service vendor.ril-daemon1 /vendor/bin/hw/rild -c 2 -l ${vendor.rild.libpath2}
    class main
    user radio
    group radio cache inet misc audio sdcard_r sdcard_rw log vpn system readproc wakelock oem_5432
    capabilities BLOCK_SUSPEND NET_ADMIN NET_RAW SYS_ADMIN CHOWN DAC_READ_SEARCH

# APN HACK
on post-fs-data
    # Remove symlinks to avoid issues with migrate after nandroid restores
    # Will be recreated at end of boot
    rmdir /data/data/com.android.providers.telephony/databases
    rmdir /data/data/com.android.providers.telephony/shared_prefs
    rm /data/data/com.android.providers.telephony/databases
    rm /data/data/com.android.providers.telephony/shared_prefs

    # Symlink directories to access telephony.db and preferred-apn.xml required by cbd
    symlink /data/user_de/0/com.android.providers.telephony/databases /data/data/com.android.providers.telephony/databases
    symlink /data/user_de/0/com.android.providers.telephony/shared_prefs /data/data/com.android.providers.telephony/shared_prefs
    restorecon /data/data/com.android.providers.telephony/databases
    restorecon /data/data/com.android.providers.telephony/shared_prefs

    setprop apn.hack.done 1

on property:apn.hack.done=1
    # restart RIL <--> modem stack to account for new locations
    restart vendor.ril-daemon
    restart vendor.ril-daemon1
