on post-fs-data

    # Modem related device nodes
    mkdir /data/nvram/md  0770 root system

#  Build-in Modified - S
#    insmod /system/lib/modules/ccci_plat.ko
#    insmod /system/lib/modules/ccci.ko
#  Build-in Modified - E
#   chown radio radio /sys/class/BOOT/BOOT/boot/md
    chown radio radio /sys/kernel/ccci/boot

#SeLinux
    mkdir /data/ccci_cfg 0770 system radio
    restorecon /data/ccci_cfg
    restorecon_recursive /protect_f
    restorecon_recursive /protect_s

#MIF
    chown radio system /efs
    chmod 0771 /efs

service ccci_fsd /system/bin/ccci_fsd 0
    user system
    group radio system bluetooth
    class core
    oneshot

service ccci_mdinit /system/bin/ccci_mdinit 0
    user system
    group radio system
    class core
    oneshot


