on property:vold.decrypt=trigger_reset_main
    start stop_modem

on property:vold.decrypt=trigger_restart_min_framework
    start start_modem

on property:vold.decrypt=trigger_restart_framework
    start start_modem

on property:vold.decrypt=trigger_shutdown_framework
    start stop_modem

service stop_modem /vendor/bin/md_ctrl 0
    class main
    disabled
    oneshot

service start_modem /vendor/bin/md_ctrl 1
    class main
    disabled
    oneshot

