on post-fs-data
    mkdir /mnt/m_internal_storage/mtklog/mobilelog 0640 system system

service mobile_log_d /system/bin/mobile_log_d
    class main
# MTK PR_DEBUG SWITCH
on property:debug.MB.prdebug=1
    write /sys/kernel/debug/dynamic_debug/control "file *mediatek* +p"
    write /sys/kernel/debug/dynamic_debug/control "file *gpu* -p"
on property:debug.MB.prdebug=0
    write /sys/kernel/debug/dynamic_debug/control "file *mediatek* -p"
